.contenedor-principal {
    max-width: 1060px;
    margin: auto;
    width: 100%;
}

.section-principal {
    padding: 3rem 0 2rem;
}

.body-index {
    background-color: map-get($coloresIndex , bgPagina);
}

.heading {
    @include heading (flex, column, center, center, 2.5rem, center);
    font-family: "Playfair Display", serif;

    h2 {
        font-size: 2.1rem;
        font-weight: map-get($grosorfont , 800);
        color: map-get($coloresIndex , titulosSubtitulos);
    }
}

/* Header Nav */
.header-principal {
    position: fixed;
    top: 20px;
    left: 0;
    height: 20px;
    width: 100%;
    z-index: 100;

    .nav-principal {
        @include flexible (flex, space-between, center);
        padding: 14px 20px;
        border-radius: 2rem;
        background-color: map-get($coloresIndex , fondoNavFoot);

        .logo {
            img {
                border-radius: 50%;
                width: 60px;
                height: 60px;
            }
        }

        .navbar-principal {
            @include flexible1 (flex, row, center, center, nowrap);
            gap: 2rem;

            .navbar-enlace {
                font-size: 1.03rem;
                text-transform: uppercase;
                color: #dcd7c9;
                font-family: "Poppins", sans-serif;
                transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);

                &:hover {
                    color: map-get($coloresIndex , colorPredominante);
                    transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);
                }
            }
        }

        .nav-icons {
            display: flex;
            align-items: center;
            gap: 1rem;

            .bx {
                font-size: 22px;
                color: map-get($coloresIndex , colorPredominante);
            }
        }

        .menu-icon {
            @include flexible1 (none, column, center, center, wrap);
            row-gap: 5px;
            cursor: pointer;
            z-index: 200;
            transition: .3s all ease-in-out;
            margin-right: 10px;

            div {
                @extend .menu-icon;
                display: block;
                background-color: map-get($coloresIndex , colorcito);
                height: 2px;
                width: 23px;
            }

        }

        .move .line-one {
            transform: rotate(-45deg) translate(-5px, 5px);
        }

        .move .line-two {
            opacity: 0;
        }

        .move .line-three {
            transform: rotate(45deg) translate(-5px, -5px);
        }
    }

}

/* End Header Nav */
/* Primer section */
.main-index {
    .article-index {
        .banner-principal {
            @extend .contenedor-principal;
            height: 800px;
            align-items: center;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            position: relative;

            .content-banner {
                h1 {
                    font-size: 3.6rem;
                    line-height: 1.5;
                    color: map-get($coloresIndex , titulosSubtitulos);
                    font-weight: map-get($grosorfont , 800);
                    font-family: "Playfair Display", serif;
                }

                p {
                    max-width: 300px;
                    font-size: 1rem;
                    font-family: "Poppins", sans-serif;
                    margin: 1rem 0 1.5rem;
                    color: map-get($coloresIndex , titulosSubtitulos);
                }

                .boton-ir {
                    max-width: 140px;
                    padding: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    column-gap: 0.5rem;
                    border-radius: 2rem;
                    background-color: map-get($coloresIndex , titulosSubtitulos);

                    span {
                        font-family: "Poppins", sans-serif;
                        color: map-get($coloresIndex, colorcito);
                    }

                    i {
                        @extend .boton-ir;
                        font-size: 18px;
                        margin: 3px;
                        background-color: map-get($coloresIndex, colorcito);
                        color: map-get($coloresIndex , titulosSubtitulos);
                        border-radius: 50%;
                        transform: rotate(0deg);
                        transition: all .4s;

                        &:hover {
                            @extend .boton-ir;
                            transform: rotate(180deg);
                            background-color: map-get($coloresIndex , titulosSubtitulos);
                            color: map-get($coloresIndex, colorcito)
                        }
                    }
                }
            }

            .banner-img {
                position: absolute;
                right: 0;
                bottom: 20px;
                max-width: 500px;
                width: 100%;
            }
        }

        /* Servicios */

        .servicios {
            @extend .contenedor-principal;

            .service-content {
                margin: 5rem auto;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(auto, 160px));
                justify-content: space-evenly;
                align-items: center;

                .ser-box {
                    background-color: map-get($coloresIndex, titulosSubtitulos);
                    @include flexible1 (flex, column, center, center, nowrap);
                    text-align: center;
                    row-gap: 1rem;
                    padding: 35px 20px;
                    border-radius: 2rem;

                    p {
                        font-family: "Playfair Display", serif;
                        color: #f8e4be;
                        font-weight: 600;
                    }

                    img {
                        width: 100px;
                        height: 100px;
                        object-fit: contain;
                    }
                }
            }
        }

        .products {
            @extend .heading;
            @extend .contenedor-principal;
            height: auto;
            margin-block: 5rem;
            position: relative;

            p {
                @extend .heading;
                max-width: 550px;
                width: 100%;
                font-size: 1.1rem;
                font-family: "Poppins", sans-serif;
            }

            .products-content {
                display: grid;
                grid-template-columns: repeat(3, 260px);
                grid-template-rows: 1fr 1fr 1fr;
                justify-content: center;
                column-gap: 3rem;
                row-gap: 4.5rem;
                background-color: #DED0B6;
                padding: 40px 60px;

                .product-card {
                    background-color: #fff8f7;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 15px;
                    border-radius: 1.5rem;
                    width: 100%;
                    cursor: pointer;
                    position: relative;

                    &:hover h2 {
                        color: #f8e4be;
                    }

                    &:hover {
                        box-shadow: 0 10px 10px #C8AE7D;
                        background-color: #A79277;
                        transition: all 0.5s ease;
                    }

                    &:hover .button-group {
                        z-index: 0;
                        right: .5rem;
                    }

                    h2 {
                        font-size: 1rem;
                        color: map-get($coloresIndex , titulosSubtitulos);
                        font-weight: 400;
                        letter-spacing: .5px;
                        font-family: "Poppins", sans-serif;
                    }

                    img {
                        margin: 1.5rem 0;
                        width: 130px;
                        height: 130px;
                        object-fit: cover;
                    }

                    .button-group {
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;
                        position: absolute;
                        top: 10px;
                        right: 0;
                        z-index: -4;
                        transition: all 0.4s ease;

                        span {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 1px solid #7a6448;
                            background-color: #c7b299;
                            padding: 0.5rem;
                            border-radius: 50%;
                            z-index: 0;
                            right: .5rem;
                            cursor: pointer;

                            i {
                                font-size: 1.2rem;
                                color: #54372a;

                                &:hover {
                                    color: rgb(255, 255, 255);
                                    transition: all 0.4s ease;
                                }
                            }
                        }
                    }
                }
            }
        }

        /* Team */
        .team {
            @extend .contenedor-principal;
            margin-block: 7rem;

            .team-content {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(240px, auto));
                gap: 2rem;

                .team-box {
                    @include flexible1 (flex, column, center, start, nowrap);
                    text-align: center;

                    img {
                        width: 100%;
                        height: 400px;
                        object-fit: cover;
                        border-radius: 20px;
                    }

                    h2 {
                        font-size: 1.1rem;
                        font-weight: map-get($grosorfont, 500);
                        color: map-get($coloresIndex, titulosSubtitulos);
                        font-family: "Poppins", sans-serif;
                        margin: 1rem 0 0.5rem 0;
                    }

                    span {
                        font-size: .98rem;
                        font-weight: map-get($grosorfont, 600);
                        color: #f8e4be;
                        border-radius: 5px;
                        background-color: map-get($coloresIndex, titulosSubtitulos);
                        padding: 0 5px;
                    }
                }
            }
        }

        /* Info de la Cafeteria */
        .info-adicional {
            @extend .contenedor-principal;
            background-color: map-get($coloresIndex, titulosSubtitulos);
            width: 100%;
            margin-block: 3rem;
            border-radius: 1.5rem;
            position: relative;

            .img-coffee {
                position: absolute;
                max-width: 300px;
                top: 170px;
                right: -70px;
            }

            .box-container {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 1.5rem;
                align-items: flex-start;
                padding: 40px 20px;
                margin-block: 3rem;

                .info-ad {
                    @include heading (flex, column, center, center, 0, center);
                    font-family: "DM Sans", sans-serif;

                    ion-icon {
                        font-size: 2rem;
                        color: map-get($coloresIndex , colorPredominante);
                        padding-bottom: 0.5rem;
                    }

                    h3 {
                        color: #f8e4be;
                        font-size: 1rem;
                    }

                    p {
                        font-size: 0.9rem;
                        color: map-get($coloresIndex , colorPredominante);
                        line-height: 2;
                    }
                }
            }
        }

        .banner-secundario-coffee {
            @extend .contenedor-principal;
            @include flexible1 (flex, column, normal, center, nowrap);
            background-color: map-get($coloresIndex, titulosSubtitulos);
            padding: 20px;
            margin-block: 1.5rem;
            color: map-get($coloresIndex , colorPredominante);
            border-radius: 1rem;

            .banner-secundario-content {
                margin: 2rem;

                h2 {
                    font-size: 2rem;
                    font-weight: 700;
                    text-align: center;
                    font-family: "Playfair Display", serif;
                    color: #f8e4be;
                }

                p {
                    font-size: .95rem;
                    font-weight: 500;
                    line-height: 1.7;
                    text-align: left;
                    font-family: "Poppins", sans-serif;
                    margin-block: 2rem;
                }
            }
        }
    }
}

/* End primer section */
/* Footer */
.footer-bg {
    background-color: map-get($coloresIndex , fondoNavFoot);
    width: 100%;

    .copyright {
        font-size: 13px;
        padding: 30px 15px 5px 15px;
        color: #f8e4be;
        text-align: center;
        font-family: "DM Sans", sans-serif;
    }

    .footer {
        @extend .contenedor-principal;
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-content: space-between;
        gap: 1rem;
        margin-top: 3rem !important;
        padding-top: 1rem;

        .logo {
            img {
                border-radius: 50%;
                width: 60px;
                height: 60px;
                margin-bottom: 1rem;
            }
        }

        .footer-col {
            display: flex;
            flex-direction: column;
            padding: 5px 15px;

            h3 {
                font-family: "Playfair Display", serif;
                font-size: 1.1rem;
                font-weight: 500;
                margin-bottom: 1rem;
                color: #EAD8C0;
            }

            p {
                font-size: .92rem;
                color: #c8ae7d;
                margin-bottom: 10px;
                font-family: "DM Sans", sans-serif;
            }

            a {
                font-size: .92rem;
                margin-bottom: 10px;
                color: #c8ae7d;
                font-family: "DM Sans", sans-serif;
                transition: all 0.5s ease;

                &:hover {
                    color: #A27B5C;
                }
            }
        }

        .footer-col .foot-social {
            display: flex;
            align-items: end;
            transition: all .5s ease;
            gap: .3rem;

            .icono {
                font-size: 1.5rem;

                .foot-social .icono &:hover {
                    color: #c8ae7d;
                    transition: all .5s ease;
                }
            }
        }

    }
}