@media (max-width:1024px) {
    .contenedor-principal {
        margin: 0 auto;
        width: 90%;
    }

    .main-index .article-index .info-adicional .img-coffee{
        right: 0;
    }

    .box-container {
        margin-block: 3rem;
    }

}