$coloresIndex: (
    bgPagina:#ead8c0,
    titulosSubtitulos:#54372a,
    fondoNavFoot:#493024,
    colorPredominante:#c8ae7d,
    colorcito:#E8D8C4,
);

$coloresContact: (
    colorText:#B19470,
    background:#786556,
);

$grosorfont: (
    300:300,
    400:400,
    500:500,
    600:600,
    700:700,
    800:800,
);

$event: (

    --gold-crayola: hsl(38, 58%, 62%),
    --quick-silver: hsla(0, 0%, 65%, 1),
    --davys-grey: hsla(30, 3%, 34%, 1),
    --smoky-black-1: hsla(40, 12%, 5%, 1),
    --smoky-black-2: hsla(30, 8%, 5%, 1),
    --smoky-black-3: hsla(0, 3%, 7%, 1),
    --eerie-black-1: hsla(210, 4%, 9%, 1),
    --eerie-black-2: hsla(210, 4%, 11%, 1),
    --eerie-black-3: hsla(180, 2%, 8%, 1),
    --eerie-black-4: hsla(0, 0%, 13%, 1),
    --white: hsla(0, 0%, 100%, 1),
    --white-alpha-20: hsla(0, 0%, 100%, 0.2),
    --white-alpha-10: hsla(0, 0%, 100%, 0.1),
    --black: hsla(0, 0%, 0%, 1),
    --black-alpha-80: hsla(0, 0%, 0%, 0.8),
    --black-alpha-15: hsla(0, 0%, 0%, 0.15),

    --fontFamily-reenie: "Reenie Beanie",
    --fontFamily-rem: "REM",
    --fontFamily-clicker: "Clicker Script",
    --fontFamily-forum: 'Forum',
    --fontFamily-dm_sans: 'DM Sans',

    --fontSize-title-2: 2.2rem,
    --fontSize-title-3: 2.1rem,
    --fontSize-body-1: 2.4rem,
    --fontSize-body-2: 1.15rem,
    --fontSize-body-3: 1.8rem,
    --fontSize-body-4: 1.5rem,
    --fontSize-label-1: 2.5rem,
    --fontSize-label-2: 1.1rem,

    --weight-regular: 400,
    --weight-bold: 600,

    --lineHeight-1: 1em,
    --lineHeight-2: 1.2em,
    --lineHeight-3: 1.5em,
    --lineHeight-4: 1.6em,
    --lineHeight-5: 1.85em,
    --lineHeight-6: 1.4em,

    --letterSpacing-1: 0.15em,
    --letterSpacing-2: 0.4em,
    --letterSpacing-3: 0.2em,
    --letterSpacing-4: 0.3em,
    --letterSpacing-5: 1px,

    --section-space: 110px,

    --transition-1: 250ms ease,
    --transition-2: 500ms ease,
    --transition-3: 1000ms ease,

    --gradient-1: linear-gradient(to top, hsla(0, 0%, 0%, 0.9), hsla(0, 0%, 0%, 0.7), transparent),
    
    --radius-24: 24px,
    --radius-circle: 50%,
);