@media (max-width:425px) {
    .header-principal .nav-principal {
        padding: 5px 10px;

        .logo {
            img {
                width: 45px;
                height: 45px;
            }
        }

        .navbar-principal {
            top: 270%;
            width: 60vw;
        }
    }

    .main-index .article-index {
        .heading {
            h2 {
                font-size: 1.3rem;
            }
        }

        .banner-principal {
            min-height: 400px;
            margin-top: 0 !important;

            .banner-img {
                max-width: 270px;
            }

            .content-banner {
                h1 {
                    font-size: 2rem;
                }

                p {
                    max-width: 238px;
                    font-size: .9rem;
                }

                .boton-ir {
                    padding: 3px;
                    max-width: 120px;

                    span {
                        font-size: 12px;
                    }

                    i {
                        font-size: 15px;
                        padding: 3px;
                    }
                }
            }
        }

        .servicios .service-content {
            margin-block: 3rem 0;
            grid-template-columns: repeat(2, 160px);
            row-gap: 1rem;

            .ser-box {
                padding: 10px;
                row-gap: .5rem;
                border-radius: 1rem;

                img {
                    width: 45px;
                    height: 45px;
                }

                p {
                    font-size: 12px;
                }
            }
        }

        .products {

            p {
                font-size: .88rem;
                margin-block: 1rem;
            }

            .products-content {
                grid-template-columns: repeat(2, 160px);
                row-gap: 1.5rem;
                column-gap: 2rem;
                padding: 35px;

                .product-card {
                    padding: 5px;

                    img {
                        width: 75px;
                        height: 75px;
                    }

                    h2 {
                        font-size: .88rem;
                    }
                }
            }
        }

        .team .team-content {
            grid-template-columns: repeat(auto-fit, minmax(100px, auto));
            gap: .5rem;

            .team-box {
                img {
                    border-radius: 10px;
                }
            }
        }

        .review .review-box {
            h2 {
                font-size: .88rem;
            }

            img {
                width: 65px;
                height: 65px;
                border: 3px solid #fff8f7;
            }

            p {
                font-size: .85rem;
            }
        }

        .info-adicional .box-container {
            grid-template-columns: 200px;
            justify-content: center;

            .info-ad {

                h3 {
                    font-size: .95rem;
                }

                p {
                    font-size: 0.8rem;
                    line-height: 1.7;
                }

                ion-icon {
                    font-size: 1.6rem;
                }
            }
        }

        .info-adicional .img-coffee {
            top: -80px;
            max-width: 230px;
        }

        .banner-secundario-coffee .banner-secundario-content {
            margin: 1.5rem;

            h2 {
                font-size: 1.3rem;
            }

            p {
                font-size: .82rem;
                margin-block: 1.5rem;
            }
        }

        .btn-1 .btn {
            font-size: 11.5px;
            font-weight: 400;
            padding: 0.4em 0.8em;
        }
    }

    .footer-bg .footer {
        grid-template-columns: repeat(1, auto);

        .footer-col {
            h3 {
                font-size: .92rem;
            }

            a {
                font-size: .78rem;
            }

            p {
                font-size: .78rem;
            }
        }

        .footer-col .foot-social {
            display: block;

            a {
                margin: 0 .3rem;
            }
        }
    }

    //Contacto

    .bg-body-contact {
        .container-header-contact {
            .nav-contact {
                .sidebar {
                    width: 50%;

                    a {
                        font-size: .9rem;
                    }
                }
            }
        }

        .nuestro-contact {
            margin: 20px auto;
            .box-info-contact {
                h1 {
                    font-size: 1.4rem;
                    padding-block: 20px;
                }

                .data {
                    gap: 10px;

                    p {
                        font-size: .85rem;
                    }
                }
            }

            .container-reserva {

                .elemento-reserva {

                    h2 {
                        font-size: 1.1rem;
                    }
                }
            }
        }

        .footer-contact {
            padding: 15px;

            .copy {
                font-size: .7rem;
            }
        }
    }
}